@use "sass:map";
@use "@sass-utils/variables";

$color-map--dark: (
	text: map.get(variables.$palette--main, 100),
);

[data-theme="dark"] {
	@for $i from 1 through 9 {
		--color--theme--#{$i * 100}: #{map.get(variables.$palette--dark, $i * 100)};
	}

	--color--text: #{map.get($color-map--dark, text)};
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: only dark;

		@for $i from 1 through 9 {
			--color--theme--#{$i * 100}: #{map.get(
					variables.$palette--dark,
					$i * 100
				)};
		}

		--color--text: #{map.get($color-map--dark, text)};
	}
}
