@use "sass:map";
@use "sass:color";

@use "config";

$-hue: config.$hue !default;

$palette--main: (
	100: hsl($-hue, 75%, 90%),
	200: hsl($-hue, 75%, 80%),
	300: hsl($-hue, 75%, 70%),
	400: hsl($-hue, 75%, 60%),
	500: hsl($-hue, 75%, 50%),
	600: hsl($-hue, 75%, 40%),
	700: hsl($-hue, 75%, 30%),
	800: hsl($-hue, 75%, 20%),
	900: hsl($-hue, 75%, 10%),
) !default;

$palette--light: (
	100: hsl($-hue, 8%, 95%),
	200: hsl($-hue, 8%, 90%),
	300: hsl($-hue, 8%, 85%),
	400: hsl($-hue, 8%, 80%),
	500: hsl($-hue, 8%, 75%),
	600: hsl($-hue, 8%, 70%),
	700: hsl($-hue, 8%, 65%),
	800: hsl($-hue, 8%, 60%),
	900: hsl($-hue, 8%, 55%),
) !default;

// Lighter tones in a dark palette have more elevation in the UI, so those lighter tones should be the highest values in the palette. For a light palette, the logic is the opposite.

$palette--dark: (
	900: hsl($-hue, 8%, 36%),
	800: hsl($-hue, 8%, 32%),
	700: hsl($-hue, 8%, 28%),
	600: hsl($-hue, 8%, 24%),
	500: hsl($-hue, 8%, 20%),
	400: hsl($-hue, 8%, 16%),
	300: hsl($-hue, 8%, 12%),
	200: hsl($-hue, 8%, 8%),
	100: hsl($-hue, 8%, 4%),
) !default;

$palette--alerts: (
	red: (
		100: hsl(350, 75%, 90%),
		200: hsl(350, 75%, 80%),
		300: hsl(350, 75%, 70%),
		400: hsl(350, 75%, 60%),
		500: hsl(350, 75%, 50%),
		600: hsl(350, 75%, 40%),
		700: hsl(350, 75%, 30%),
		800: hsl(350, 75%, 20%),
		900: hsl(350, 75%, 10%),
	),

	green: (
		100: hsl(140, 75%, 90%),
		200: hsl(140, 75%, 80%),
		300: hsl(140, 75%, 70%),
		400: hsl(140, 75%, 60%),
		500: hsl(140, 75%, 50%),
		600: hsl(140, 75%, 40%),
		700: hsl(140, 75%, 30%),
		800: hsl(140, 75%, 20%),
		900: hsl(140, 75%, 10%),
	),

	blue: (
		100: hsl(210, 75%, 90%),
		200: hsl(210, 75%, 80%),
		300: hsl(210, 75%, 70%),
		400: hsl(210, 75%, 60%),
		500: hsl(210, 75%, 50%),
		600: hsl(210, 75%, 40%),
		700: hsl(210, 75%, 30%),
		800: hsl(210, 75%, 20%),
		900: hsl(210, 75%, 10%),
	),

	yellow: (
		100: hsl(50, 75%, 90%),
		200: hsl(50, 75%, 80%),
		300: hsl(50, 75%, 70%),
		400: hsl(50, 75%, 60%),
		500: hsl(50, 75%, 50%),
		600: hsl(50, 75%, 40%),
		700: hsl(50, 75%, 30%),
		800: hsl(50, 75%, 20%),
		900: hsl(50, 75%, 10%),
	),
) !default;

$font-sizes: (
	100: 0.8rem,
	200: 1rem,
	300: 1.2rem,
	400: 1.4rem,
	500: 1.6rem,
	600: 1.8rem,
	700: 2rem,
	800: 2.2rem,
	900: 2.4rem,
) !default;

$font-stacks: (
	main: (
		"Poppins",
		sans-serif,
	),
	headings: (
		"Montserrat",
		sans-serif,
	),
	monospace: (
		"Martian Mono",
		monospace,
	),
) !default;

// TODO: Refactor to em units.
$shadows--dark: (
	100: 0 4px 8px #00000030,
	200: 0 8px 16px #00000030,
	300: 0 12px 24px #00000030,
	400: 0 16px 32px #00000030,
	500: 0 20px 40px #00000030,
);

// TODO: Refactor to em units.
$shadows--light: (
	100: 0 4px 8px #ffffff20,
	200: 0 8px 16px #ffffff20,
	300: 0 12px 24px #ffffff20,
	400: 0 16px 32px #ffffff20,
	500: 0 20px 40px #ffffff20,
);

$margins--responsive: (
	100: 2vmin,
	200: 4vmin,
	300: 6vmin,
	400: 8vmin,
	500: 10vmin,
	600: 12vmin,
	700: 14vmin,
	800: 16vmin,
	900: 18vmin,
);

$paddings--responsive: (
	100: 2vmin,
	200: 4vmin,
	300: 6vmin,
	400: 8vmin,
	500: 10vmin,
	600: 12vmin,
	700: 14vmin,
	800: 16vmin,
	900: 18vmin,
);

$max-width: 120rem !default;
$min-height: 100vh !default;

$breakpoints: (
	mobile: 480px,
	tablet: 768px,
	laptop: 1024px,
	desktop: 1200px,
) !default;

$gradients: (
	chill: linear-gradient(135deg, #09e485 0%, #0291e3 100%),
	warm: linear-gradient(135deg, #ffb30b 0%, #f36a3e 100%),
	hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
	cold: linear-gradient(135deg, #3109e3 0%, #7902f0 100%),
	colder: linear-gradient(135deg, #2b1491 0%, #9a47ff 100%),
);

$gradients: () !default;
