@use "sass:color";
@use "sass:map";

$hue: 200;

@mixin configure($hue) {
	$main-hue: $hue !global;
}

$palette--main: (
	100: hsl($hue, 75%, 90%),
	200: hsl($hue, 75%, 80%),
	300: hsl($hue, 75%, 70%),
	400: hsl($hue, 75%, 60%),
	500: hsl($hue, 75%, 50%),
	600: hsl($hue, 75%, 40%),
	700: hsl($hue, 75%, 30%),
	800: hsl($hue, 75%, 20%),
	900: hsl($hue, 75%, 10%),
) !default;

$palette--dark: (
	100: hsl($hue, 8%, 45%),
	200: hsl($hue, 8%, 40%),
	300: hsl($hue, 8%, 35%),
	400: hsl($hue, 8%, 30%),
	500: hsl($hue, 8%, 25%),
	600: hsl($hue, 8%, 20%),
	700: hsl($hue, 8%, 15%),
	800: hsl($hue, 8%, 10%),
	900: hsl($hue, 8%, 5%),
) !default;

$palette--light: (
	100: hsl($hue, 8%, 95%),
	200: hsl($hue, 8%, 90%),
	300: hsl($hue, 8%, 85%),
	400: hsl($hue, 8%, 80%),
	500: hsl($hue, 8%, 75%),
	600: hsl($hue, 8%, 70%),
	700: hsl($hue, 8%, 65%),
	800: hsl($hue, 8%, 60%),
	900: hsl($hue, 8%, 55%),
) !default;

$palette--alerts: (
	red: (
		100: hsl(350, 75%, 90%),
		200: hsl(350, 75%, 80%),
		300: hsl(350, 75%, 70%),
		400: hsl(350, 75%, 60%),
		500: hsl(350, 75%, 50%),
		600: hsl(350, 75%, 40%),
		700: hsl(350, 75%, 30%),
		800: hsl(350, 75%, 20%),
		900: hsl(350, 75%, 10%),
	),

	green: (
		100: hsl(140, 75%, 90%),
		200: hsl(140, 75%, 80%),
		300: hsl(140, 75%, 70%),
		400: hsl(140, 75%, 60%),
		500: hsl(140, 75%, 50%),
		600: hsl(140, 75%, 40%),
		700: hsl(140, 75%, 30%),
		800: hsl(140, 75%, 20%),
		900: hsl(140, 75%, 10%),
	),

	blue: (
		100: hsl(210, 75%, 90%),
		200: hsl(210, 75%, 80%),
		300: hsl(210, 75%, 70%),
		400: hsl(210, 75%, 60%),
		500: hsl(210, 75%, 50%),
		600: hsl(210, 75%, 40%),
		700: hsl(210, 75%, 30%),
		800: hsl(210, 75%, 20%),
		900: hsl(210, 75%, 10%),
	),

	yellow: (
		100: hsl(50, 75%, 90%),
		200: hsl(50, 75%, 80%),
		300: hsl(50, 75%, 70%),
		400: hsl(50, 75%, 60%),
		500: hsl(50, 75%, 50%),
		600: hsl(50, 75%, 40%),
		700: hsl(50, 75%, 30%),
		800: hsl(50, 75%, 20%),
		900: hsl(50, 75%, 10%),
	),
) !default;

$font-sizes: (
	100: 0.8rem,
	200: 1rem,
	300: 1.2rem,
	400: 1.4rem,
	500: 1.6rem,
	600: 1.8rem,
	700: 2rem,
	800: 2.2rem,
	900: 2.4rem,
) !default;

$font-stacks: (
	main: (
		"Poppins",
		sans-serif,
	),
	headings: (
		"Montserrat",
		sans-serif,
	),
	monospace: (
		"Martian Mono",
		monospace,
	),
) !default;

// TODO: Refactor to maps and weights:

$dark-shadow: #00000033 !default;
$darker-shadow: #00000066 !default;
$light-shadow: #ffffff33 !default;
$lighter-shadow: #ffffff66 !default;

$max-width: 120rem !default;
$min-height: 100vh !default;

$breakpoints: (
	mobile: 480px,
	tablet: 768px,
	laptop: 1024px,
	desktop: 1200px,
) !default;

$gradients: (
	chill: linear-gradient(135deg, #09e485 0%, #0291e3 100%),
	warm: linear-gradient(135deg, #ffb30b 0%, #f36a3e 100%),
	hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
	cold: linear-gradient(135deg, #3109e3 0%, #7902f0 100%),
	colder: linear-gradient(135deg, #2b1491 0%, #9a47ff 100%),
);

$gradients: () !default;
