@use "sass:map";
@use "@sass/animations";
@use "@sass-utils/variables";

// TODO: Mixins to set animations.

.alert {
	display: grid;
	grid-template-columns: 15% 1fr 15%;

	width: 100%;
	max-width: 30rem;

	border-radius: 0.5rem;
	border-left: 0.5rem solid var(--color--alert--500);

	cursor: default;
	overflow: hidden;
	position: relative;

	color: var(--color--alert--800);
	background-color: var(--color--alert--200);

	// TODO: Refactor to animation mixins
	// animation: slide-in 700ms forwards, slide-out 700ms ease-in 5.5s forwards;

	@include animations.slide(in left, 700ms ease forwards);

	&::before {
		content: "";

		position: absolute;
		bottom: 0;

		width: 100%;
		height: 0.3rem;

		transform: scaleX(0);
		transform-origin: 0 0;

		background: linear-gradient(
			to left,
			var(--color--alert--500),
			var(--color--alert--200)
		);

		@include animations.progress(3s linear 5s forwards);
	}

	&__icon {
		place-self: center;
		font-size: 2.2rem;

		color: var(--color--alert--500);
	}

	&__message {
		padding: 0.7em 0;
		font-size: 1.4rem;

		& * {
			margin: 0;
			line-height: 2rem;
		}

		&__title {
			font-weight: 600;
			color: var(--color--alert--900);
		}
	}

	&__close__button {
		width: 100%;
		height: 100%;

		border: 0;
		cursor: pointer;

		background-color: var(--color--alert--300);

		&:active {
			background-color: var(--color--alert--400);
		}

		&__icon {
			color: var(--color--alert--600);
		}
	}
}

.alert {
	&--info {
		$color--info: map.get(variables.$palette--alerts, blue);

		--color--alert--100: #{map.get($color--info, 100)};
		--color--alert--200: #{map.get($color--info, 200)};
		--color--alert--300: #{map.get($color--info, 300)};
		--color--alert--400: #{map.get($color--info, 400)};
		--color--alert--500: #{map.get($color--info, 500)};
		--color--alert--600: #{map.get($color--info, 600)};
		--color--alert--700: #{map.get($color--info, 700)};
		--color--alert--800: #{map.get($color--info, 800)};
		--color--alert--900: #{map.get($color--info, 900)};
	}

	&--success {
		$color--info: map.get(variables.$palette--alerts, green);

		--color--alert--100: #{map.get($color--info, 100)};
		--color--alert--200: #{map.get($color--info, 200)};
		--color--alert--300: #{map.get($color--info, 300)};
		--color--alert--400: #{map.get($color--info, 400)};
		--color--alert--500: #{map.get($color--info, 500)};
		--color--alert--600: #{map.get($color--info, 600)};
		--color--alert--700: #{map.get($color--info, 700)};
		--color--alert--800: #{map.get($color--info, 800)};
		--color--alert--900: #{map.get($color--info, 900)};
	}

	&--warning {
		$color--info: map.get(variables.$palette--alerts, yellow);

		--color--alert--100: #{map.get($color--info, 100)};
		--color--alert--200: #{map.get($color--info, 200)};
		--color--alert--300: #{map.get($color--info, 300)};
		--color--alert--400: #{map.get($color--info, 400)};
		--color--alert--500: #{map.get($color--info, 500)};
		--color--alert--600: #{map.get($color--info, 600)};
		--color--alert--700: #{map.get($color--info, 700)};
		--color--alert--800: #{map.get($color--info, 800)};
		--color--alert--900: #{map.get($color--info, 900)};
	}

	&--error {
		$color--info: map.get(variables.$palette--alerts, red);

		--color--alert--100: #{map.get($color--info, 100)};
		--color--alert--200: #{map.get($color--info, 200)};
		--color--alert--300: #{map.get($color--info, 300)};
		--color--alert--400: #{map.get($color--info, 400)};
		--color--alert--500: #{map.get($color--info, 500)};
		--color--alert--600: #{map.get($color--info, 600)};
		--color--alert--700: #{map.get($color--info, 700)};
		--color--alert--800: #{map.get($color--info, 800)};
		--color--alert--900: #{map.get($color--info, 900)};
	}
}
