@use "sass-utils/variables";

// TODO: Sections layout styles

$section--min-height: 100vh;

section.section {
	display: flex;

	&__container {
		width: 100%;
		flex: 1 1 100%;
		padding: 0 var(--padding--responsive--300);

		&--limited-width {
			margin: 0 auto;
			max-width: variables.$max-width;
		}

		&--full-height {
			min-height: $section--min-height;

			&--s {
				min-height: 100svh;
			}
		}

		&--half-height {
			min-height: calc($section--min-height / 2);
		}
	}
}