@use "sass:map";
@use "@sass-utils/variables";

$color-map--dark: (
	body: (
		text: #fff,
		background: map.get(variables.$palette--dark, bluish, 200),
	),
	header: (),
);

[data-theme="dark"] {
	--color--text--body: #{map.get($color-map--dark, body, text)};
	--color--background--body: #{map.get($color-map--dark, body, background)};
}

// ao inves de escrever um mixin de cada tema, repetindo as proprieades que levam as cores, seria melhor estilizar ja as propriedades com variaveis e so mudar os valores das variaveis com base em cada tema. Os mapas podem ajudar a organizar isso.
