@use "sass:map";
@use "@sass-utils/variables";

$color-map--dark: (
	body: (
		text: #fff,
		background: map.get(variables.$palette--dark, 800),
	),
	header: (),
);

[data-theme="dark"] {
	--color--text--body: #{map.get($color-map--dark, body, text)};
	--color--background--body: #{map.get($color-map--dark, body, background)};
}

@media (prefers-color-scheme: dark) {
	:root {
		--color--text--body: #{map.get($color-map--dark, body, text)};
		--color--background--body: #{map.get($color-map--dark, body, background)};
	}
}
