@use "sass:map";
@use "@sass-utils/variables";

$color-map--light: (
	body: (
		text: #000,
		background: map.get(variables.$palette--light, bluish, 200),
	),
	header: (),
);

[data-theme="light"] {
	--color--text--body: #{map.get($color-map--light, body, text)};
	--color--background--body: #{map.get($color-map--light, body, background)};

	.alert {
		&--info {
			$color--info: map.get(variables.$palette--alerts, darker, info);

			--color--alert--10: #{$color--info};
			--color--alert--02: #{rgba($color: $color--info, $alpha: 0.2)};
			--color--alert--04: #{rgba($color: $color--info, $alpha: 0.4)};
			--color--alert--05: #{rgba($color: $color--info, $alpha: 0.5)};
		}

		&--error {
			$color--error: map.get(variables.$palette--alerts, darker, error);

			--color--alert--10: #{$color--error};
			--color--alert--02: #{rgba($color: $color--error, $alpha: 0.2)};
			--color--alert--04: #{rgba($color: $color--error, $alpha: 0.4)};
			--color--alert--05: #{rgba($color: $color--error, $alpha: 0.5)};
		}

		&--warning {
			$color--warning: map.get(variables.$palette--alerts, darker, warning);

			--color--alert--10: #{$color--warning};
			--color--alert--02: #{rgba($color: $color--warning, $alpha: 0.2)};
			--color--alert--04: #{rgba($color: $color--warning, $alpha: 0.4)};
			--color--alert--05: #{rgba($color: $color--warning, $alpha: 0.5)};
		}

		&--success {
			$color--success: map.get(variables.$palette--alerts, darker, success);

			--color--alert--10: #{$color--success};
			--color--alert--02: #{rgba($color: $color--success, $alpha: 0.2)};
			--color--alert--04: #{rgba($color: $color--success, $alpha: 0.4)};
			--color--alert--05: #{rgba($color: $color--success, $alpha: 0.5)};
		}
	}
}

// TODO: Improve theme switch with @media queries.
@media (prefers-color-scheme: light) {
}
