@use "sass:map";
@use "@sass-utils/variables";

$color-map--light: (
	text: hsl(0, 5%, 20%),
);

[data-theme="light"] {
	@for $i from 1 through 9 {
		--color--theme--#{$i * 100}: #{map.get(
				variables.$palette--light,
				$i * 100
			)};
	}

	--color--text: #{map.get($color-map--light, text)};
}

@media (prefers-color-scheme: light) {
	:root {
		@for $i from 1 through 9 {
			--color--theme--#{$i * 100}: #{map.get(
					variables.$palette--light,
					$i * 100
				)};
		}

		--color--text: #{map.get($color-map--light, text)};
	}
}
