@use "sass:map";
@use "@sass-utils/variables";

$color-map--light: (
	body: (
		text: #000,
		background: map.get(variables.$palette--light, 200),
	),
	header: (),
);

[data-theme="light"] {
	--color--text--body: #{map.get($color-map--light, body, text)};
	--color--background--body: #{map.get($color-map--light, body, background)};
}

@media (prefers-color-scheme: light) {
	:root {
		--color--text--body: #{map.get($color-map--light, body, text)};
		--color--background--body: #{map.get($color-map--light, body, background)};
	}
}
